<div class="panel panel-info">
  <div class="panel-heading">
    <div class="img">
      <%= image_tag @artist.photo.image.thumbnail %>
    </div>

    <h4><%= @artist.name %></h4>
    <a> <%= link_to "Delete artist", artist_path(@artist.id),
    method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-info", id:"deleteart" %></a>

  <div class="panel-body">
    <ol id="songslist">
      <% @songs.each do |song| %>
      <li id = "<%= song.id %>"><%= song.name %>
      </br>
      <%= link_to "Play", song.link, target: :_blank %>
      <a id= "deletesong" >  Delete</a>
  </li>
      <% end %>
    </ol>
  </div>
  </div>

  <%= render "songs/form" %>

</div>


<%= link_to "Back", artists_path, class: "btn btn-default btn-lg" %>
