<%= form_for [@song.artist, @song], remote: true do |f| %>

<ul>
  <% @song.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :link %>

  <%= f.text_field :link %>


<a id = "addsong" ><%= f.submit "Add song", data: { disable_with: false } %></a>
<% end %>
